@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = SharedStrings.ResourceManager.Get("Error_Text");
 }

<div class="container">    
	<div class="row  bk-error-main"> 	      
        <div class="col-lg-12 col-md-12" style="height: 80px;">
			<h1>@ViewBag.Title</h1>				
            <hr />
		</div>
        <div class="col-lg-12 col-md-12">                     
            <h3 style="color:#8c8c8c; margin-top:15px;">
                @SharedStrings.ResourceManager.Get("Error_Text")
            </h3>
        </div>
        
        @if (Model != null && Model.Exception != null)
        {
        <div class="clearfix" style="margin-bottom:10px;"></div>	
        <div class="col-lg-12 col-md-12">         
               <div class="bs-callout bs-callout-danger">           
                <h4 style="margin-bottom:5px;">@Model.ControllerName/@Model.ActionName</h4> 
                    <ul style="list-style-type: none; padding-left: 0px;">                    
                        <li><small style='color: #8c8c8c;'>@Model.Exception.Message</small></li>                    
                    </ul>            
                </div>                
        </div>        
        }
        
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="col-lg-12 col-md-12">                
            <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary" onclick="window.location='@Url.Action("index", "welcome")';">@SharedStrings.ResourceManager.Get("Error_MainPageLink")</button>                    
        </div>
    </div>
</div>
