@model GuestService.Models.RegisterAgentTermModel

@using GuestService.Resources
@using System.Resources


<p>
Hi there,
</p>
<p>
New agent (terminals) @Model.CompanyName has been registered via Partner area of EXGO and provided following details:
</p>
<p>
Contact person, position: @Model.Contact
</p>
<p>
Short description of the company and services provided: @Model.AboutCompany
</p>
<p>
Building area: @Model.Square
</p>
<p>
Average amount of people passing by: @Model.People
</p>
<p>
Country, region, city: @Model.CountryRegion
</p>
<p>
Geo location: @Model.Location
</p>
<p>
Phone numbers: @Model.Phone
</p>
<p>
Fax numbers: @Model.Fax
</p>
<p>
Website: @Model.Website
</p>
<p>
E-mail address: @Model.UserName
</p>
<p>
Please check partner data in Incoming, and set link between user account @Model.UserName and partner (agent or provider) @Model.CompanyName
</p>
<p>
Note: this is automatic message and it doesn't require the answer.
</p>