@model GuestService.Models.RecoveryModel
@{  
    ViewBag.Title = AccountStrings.ResourceManager.Get("RestoreTitle");
}
<div class="container"> 	 
	<div class="row bk-main"> 	      
        <div class="col-lg-12 col-md-12" style="height: 80px;">
			<h1  class="page-header">@ViewBag.Title</h1>
		</div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()            
            <div class="col-lg-12 col-md-12" style="margin-bottom:15px;">
			    <h3 style="color:#8c8c8c; margin-top:0;">@AccountStrings.ResourceManager.Get("Restore_Email_Register")</h3>
		    </div>        
            <div class="col-lg-6">       
                @Html.Partial("Form/ErrorsSummary")
            </div>
            <div class="clearfix"></div> 
            <div class="col-xs-6">
				<div class="form-group">
					<label class="control-label" for="@Html.NameFor(m => m.UserName)">E-mail</label>
					<div class="controls">						        
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.UserName)
					</div>
				</div>		      
                <div class="clearfix" style="margin-bottom:10px;"></div>
				<button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary">@AccountStrings.ResourceManager.Get("Restore_Btn")</button>			  
            </div>                   
        }             
    </div>
</div>

