@model GuestService.Models.RegisterAgentWebModel
@{
    ViewBag.Title = AccountStrings.Get("RegisterTitle");
}
<div class="container">
    <div class="row bk-main">
        <div class="col-lg-12 col-md-12">
            <h1 class="page-header">Agent registration (to sell via website)</h1>
        </div>
        @using (Html.BeginForm("registeragentweb", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-lg-12 col-md-12" style="margin-bottom:15px;">
                @AccountStrings.Get("RegisterText")
            </div>
            <div class="col-lg-6">
                @Html.Partial("Form/ValidationSummary")
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6">

                <!--Website -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.Website)">@AccountStrings.Get("Register_Website")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Website, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Website") })
                        @Html.ValidationMessageFor(m => m.Website)
                    </div>
                </div>

                <!--Contact person, position -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.Contact)">@AccountStrings.Get("Register_Contact")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Contact") })
                        @Html.ValidationMessageFor(m => m.Contact)
                    </div>
                </div>

                <!--Country, region, city -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.CountryRegion)">@AccountStrings.Get("Register_CountryRegion")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.CountryRegion, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_CountryRegion") })
                        @Html.ValidationMessageFor(m => m.CountryRegion)
                    </div>
                </div>

                <!--Date of establishment-->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.DateEstablish)">@AccountStrings.Get("Register_DateEstablish")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.DateEstablish, new { @class = "form-control datepicker", placeholder = AccountStrings.Get("Register_Ph_DateEstablish") })
                        @Html.ValidationMessageFor(m => m.DateEstablish)
                    </div>
                </div>

                <!--Short description of the company and services provided-->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.AboutCompany)">@AccountStrings.Get("Register_AboutCompany")</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.AboutCompany, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_AboutCompany") })
                        @Html.ValidationMessageFor(m => m.AboutCompany)
                    </div>
                </div>
                
                <!--Phone numbers -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.Phone)">@AccountStrings.Get("Register_Phone")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Phone") })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                </div>

                <!--Fax numbers -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.Fax)">@AccountStrings.Get("Register_Fax")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Fax") })
                        @Html.ValidationMessageFor(m => m.Fax)
                    </div>
                </div>
                                            

                <!--E-mail address  -->
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.UserName)">@AccountStrings.Get("Register_Email")</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Email") })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.Password)">@AccountStrings.Get("Register_Password")</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_Password") })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.NameFor(m => m.ConfirmPassword)">@AccountStrings.Get("Register_ConfirmPassword")</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = AccountStrings.Get("Register_Ph_ConfirmPassword") })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary">@AccountStrings.Get("Register_RegisterButton")</button>
            </div>
        }
    </div>
</div>


