@model GuestService.Models.Guest.SummaryContext
@{
    ViewBag.Title = GuestStrings.Get("GuestServiceTitle");
}
<div class="container">
   <div class="row bk-main">             
        <div class="col-lg-12">
          <h1 class="page-header">@ViewBag.Title</h1>
          @if (GuestService.Settings.IsShowBreadCrumb)
          {
          <ol class="breadcrumb">          
             <li><a href="@Context.Request.ApplicationPath.ToString()">@GuestStrings.Get("GuestServicesLink")</a></li>
             <li class="active">@ViewBag.Title</li>
          </ol>
          }
        </div>             
       
        <div class="col-sm-7">
            @if (Model != null && Model.Hotels != null && Model.Hotels.Count > 0)
            {
                <div >     
                    <h4 style="color:#b7b7b7;">@GuestStrings.Get("HotelDepartureTitle")</h4>      
                @foreach (var hotel in Model.Hotels)
                {
                    Html.RenderPartial(@"Controls\DepartureHotel", hotel);
                }
                 <hr style="margin-bottom: 30px; margin-top:30px;"/>   
                </div>
            }
            else if (Model.Claim != null)
            {       
                <div >   
                    <h4 style="color:#b7b7b7;">@GuestStrings.Get("HotelDepartureTitle")</h4>       
                    <h3 style="color:#8c8c8c;">@GuestStrings.Get("HotelDepartureNoInformation")</h3>                      
                    <hr style="margin-bottom: 30px; margin-top:30px;"/>   
                </div>
            }

            <div>
                @if (Model.Claim != null)
                {
                    var claim = Model.Claim;
                    <div class="form-inline">
                        <div class="form-group" style="vertical-align: baseline;">
                            <h4 style="color:#b7b7b7;">@GuestStrings.Get("OrderInfoTitle")</h4>
                        </div>
                        <div class="form-group" style="vertical-align: baseline;">
                        <h2 class="media-heading" style="color: #777777;">@claim.claimId</h2>                     
                        </div>
                    </div>
                    if (claim.orders != null)
                    {
                        foreach (var order in claim.orders)
                        {
                            if (order.status != null && order.status.id == 1)
                            {
                                Html.RenderPartial("Controls\\ReservationOrder", order);
                            }
                        }
                    }
                }
            </div>    
        </div>

        <div class="col-sm-5">	
            @if (Model.Claim != null)
            {
                <h3 class="media-heading">@GuestStrings.Get("HotelTitle")</h3>
                        
                if (Model.GuideDurties != null && Model.GuideDurties.Count > 0)
                {
                    Html.RenderPartial(@"Controls\HotelGuideDurties", Model.GuideDurties);
                }
                else
                {
                    <h4>@GuestStrings.Get("HotelNotFound")</h4>     
                }
            }
        </div>

    </div>  

    @if (Model.ShowOrderFindForm == true)
    {
	    <div class="row">  
            <div class="col-lg-12">
                <h3 style="color:#8c8c8c; margin-top:10px;">@GuestStrings.Get("SummaryFindReservationTitle")</h3>
            </div>
            <div class="col-md-6">               
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken() 
                    if (Model.OrderFindForm != null)
                    {
                        if (Model.OrderFindForm.CurrentDate.HasValue)
                        {
                            @Html.HiddenFor(m => m.OrderFindForm.CurrentDate, Model.OrderFindForm.CurrentDate.Value.ToString("g"))
                        }
                        @Html.Partial("Form/ValidationSummary")                 
                    }   
                    <div class="form-group">
                        <label class="control-label" for="@Html.NameFor(m => m.OrderFindForm.Claim)">@GuestStrings.Get("SummaryReservationLabel")</label>
                        <div class="controls">     
                            @Html.TextBoxFor(m => m.OrderFindForm.Claim, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.OrderFindForm.Claim) })
                            @Html.ValidationMessageFor(m => m.OrderFindForm.Claim)
                        </div>
                    </div>       
                    <div class="form-group">
                        <label class="control-label" for="@Html.NameFor(m => m.OrderFindForm.ClaimName)">@GuestStrings.Get("SummaryNameLabel")&nbsp;<small style="color:#b7b7b7;">@GuestStrings.Get("SummaryNameLabel_1")</small></label>
                        <div class="controls">     
                            @Html.TextBoxFor(m => m.OrderFindForm.ClaimName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.OrderFindForm.ClaimName) })
                            @Html.ValidationMessageFor(m => m.OrderFindForm.ClaimName)
                        </div>
                    </div>                                   
                    <div class="clearfix" style="margin-bottom:10px;"></div>				
			        <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary">@GuestStrings.Get("SummaryFindButton")</button>       
                }
            </div> 
            @if (Model.OrderFindNotFound)
            {  
                <div class="clearfix" style="margin-bottom:10px;"></div>
	            <div class="col-lg-12">
                    <h3 style="color:#8c8c8c;">@GuestStrings.Get("SummaryNotFound")</h3>
                </div>		    	
            } 
        </div>   
    }
    else
    {
        
      
         <div class="clearfix" style="margin-bottom:10px;"></div>		        
         <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary" onclick="window.location='@Url.Action("summary", "guest")';">@GuestStrings.Get("SummaryCheckAnother")</button>  
         <div class="clearfix" style="margin-bottom:10px;"></div>		    
       
    }         
</div>