@model GuestService.Models.Partner.PartnerContext
@{
    ViewBag.Title = GuestStrings.GuestServiceTitle;

}
@section head_scripts {
    @Scripts.Render("~/js/json2.js")
}  
<div class="container">
    <div class="row bk-main"> 	            
        <div class="col-lg-12 col-md-12">
		    <h1 class="page-header">Provider area</h1>		
			  <h2 style="margin-top: -10px; margin-bottom: 20px; font-size: 20px;">@Model.UserName (@Model.ProviderName)</h2>			
	    </div>
        <div class="col-sm-7">
            <div class="media" style="margin-bottom: 15px;">
                <a class="pull-left" href="@Url.Action("order", "partner")" >
                    <img class="media-object" src="@Url.Content("~/images/info.png")" alt="@GuestStrings.Get("MenuOrdersAlt")">
                </a>
                <div class="media-body">
                    <h3 class="media-heading"> <a href="@Url.Action("order", "partner")"> Orders </a></h3>                     
                    Get list of orders for the specified period of time, or list of participants for the specific excursion
                </div>
            </div>
            <div class="media" style="margin-bottom: 15px;">
                <a class="pull-left" href="@Url.Action("index", "partnerexcursion")" >
                    <img class="media-object" src="@Url.Content("~/images/excursion.png")" alt="@GuestStrings.MenuExcursionAlt">
                </a>
                <div class="media-body">
                   <h3 class="media-heading"><a href="@Url.Action("index", "partnerexcursion")">Check quotas</a></h3>                     
                   Check and set amount of places offered online for every excursion and date
                </div>
            </div>   
            <div class="media" style="margin-bottom: 15px;">
                <a class="pull-left" href="@Url.Action("index", "partnerexcursion/addexcursion")" >
                    <img class="media-object" src="@Url.Content("~/images/excursion.png")" alt="@GuestStrings.MenuExcursionAlt">
                </a>
                <div class="media-body">
                   <h3 class="media-heading"><a href="@Url.Action("index", "partnerexcursion/addexcursion")">Add excursion</a></h3>                     
                   Enter details for new excursions
                </div>
            </div>   
            <div class="media" style="margin-bottom: 15px;">
                <a class="pull-left" href="@Url.Action("balance", "partner")">
                    <img class="media-object" src="@Url.Content("~/images/info.png")" alt="@GuestStrings.Get("MenuOrdersAlt")">
                </a>
                <div class="media-body">
                    <h3 class="media-heading"> <a href="@Url.Action("balance", "partner")"> Balance </a></h3>
                    Get account balance for the specific period with commissions and payments 
                </div>
            </div>

        </div>       
        <div class="col-sm-5">
 
        </div>
    </div>
</div>
